<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782322338023-8glk6a867kdikm4iq1diqfj6t5n1jbb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782322338023-8glk6a867kdikm4iq1diqfj6t5n1jbb5</string>
	<key>API_KEY</key>
	<string>AIzaSyAf3wr9zfEPO7WdAK0wMLshlnR_EyIk3Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>782322338023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cdTracker</string>
	<key>PROJECT_ID</key>
	<string>cd-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>cd-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782322338023:ios:c838075e612f50c72d7a42</string>
</dict>
</plist>